<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="bucketname" value="meeting2textbucket" />
    <add key="wavpath" value="..\\..\\..\\Recordings\\" />
    <add key="zippath" value="..\\mixedaudio" />
    <add key="speakerfilename" value="speakeraudio.wav" />
    <add key="micfilename" value="micaudio.wav" />
    <add key="mixedfilefullname" value="mixedaudio.wav" />
    <add key="mixedfilename" value="mixedaudio" />
    <add key="TranscriptionsAPIEndpoint" value="http://localhost:53016/api/transcriptions"/>
    <add key="UsersAPIEndpoint" value="http://localhost:53016/api/users"/>
    <add key="meetingplatforms" value="Skype,Slack,Teams" />
  </appSettings>
</configuration>